<!--<div class="home-callout text-center container-fluid">
  <h1>Welcome to DevMatch</h1>
  <h3>A membership platform where entrepreneurs can meet developers</h3>
</div>-->

  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <!--img class="mySlides w3-animate-fading" src="/assets/notes-macbook-study2.jpg">
        <img class="mySlides w3-animate-fading" src="/assets/2.jpg">
        <img class="mySlides w3-animate-fading" src="/assets/pexels-photo-1.jpeg">
        <img class="mySlides w3-animate-fading" src="/assets/pexels-photo-2.jpeg">-->
       
        <h2>We teach, you learn and with God you pass...</h2>
        <h3>This Year's Best</h3>
        <!--<a class="btn btn-primary" href="#" role="button">See all</a>-->
      </div>
    </div>
  </section>

  <div class="container home-signup-links">
    <div class="row">
      <div class="col-md-4">
        <div class="well text-center w3-card-4">
          <h2>Current Students</h2>
          <h4><br/>Pay your fees in respect to your registered program and also navigate your dashboard<br/></h4>
          <%= link_to "Log In", new_user_registration_path(plan: @basic_plan.id), class: "btn btn-primary btn-lg btn-block" %>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="well text-center w3-card-4">
          <h2>Our Vision...</h2>
          <h4><br/>Lorem Ipsum <br/></h4>
          <%= link_to "Log In", new_user_registration_path(plan: @basic_plan.id), class: "btn btn-primary btn-lg btn-block" %>
        </div>
      </div>
        
      <div class="col-md-4">
        <div class="well text-center w3-card-4">
          <h2>Our Vision...</h2>
          <h4><br/>Lorem Ipsum =lorem()<br/></h4>
        </div>
      </div>
    </div>
      
    <!--<div class="row"
      <div class="col-md-4">
        <div class="well text-center w3-card-4">
          <h2>New Students</h2>
          <h4>Are you a new student?<br/>
          <br/>Kindly register your details and proceed to pay </h4>
          <%= link_to "Sign Up", new_user_registration_path(plan: @pro_plan.id), class: "btn btn-success btn-lg btn-block" %>
        </div>
      </div>
      
    </div>-->
  </div>
  
  <footer class="container">
      <div class="row">
        <p class="col-sm-4">&copy; 2017 ExpertEducationCentre</p>
        <ul class="col-sm-8">
          <li class="col-sm-1">
          <i class="fa fa-feed"></i>
          <li class="col-sm-1">
          <i class="fa fa-twitter"></i>
          <li class="col-sm-1">
          <i class="fa fa-facebook-official" aria-hidden="true"></i></i>
          <li class="col-sm-1">
            <i class="fa fa-google-plus-official" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
  </footer>